ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topbar {
  width: 100%;
  height: 90px;
  background-color: #333333;
  position: fixed;
  vertical-align: center;
  text-align: center;
  overflow: hidden;
<<<<<<< HEAD
=======
  top:0px;
>>>>>>> dacf7fb75ad582fcf689791748b19fd70e2f3ed0
}


#gohome {
   float: left;
   font-size: 2em;
   font-family: 'Poiret One', cursive;
   padding-top: 20px;
   padding-right: 30px;
}

.navitem, .add {
  width: 65px;
  height: 100%;
  cursor: pointer;
  color: white;
  float: right;
  transition: background 0.1s ease;
  font-size: 16px;
  padding: 0px 20px;
  z-index: 1;
  vertical-align: middle;
  padding-top: 30px;
}

#tutorial {
  color: white;
}

.navitem:hover {
  background-color: #00A0A6;
}

.add {
  background-color: #00A0A6;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 120px;
  position: relative;
  right: 30px;
  padding: 20px;
  height: 40px;
  text-align: center;
  padding-top: 20px;
  z-index: -1;
}

.add:hover {
  background-color: #00C5CD;
}


a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: auto;
  text-decoration: none;
  width: 100%;
  background-image: url("../resources/background_texture.jpg");
  font-family: arial;
}

#categoryForm, #personForm {
  display: none;
  text-align: center;
  width: 60%;
  margin-left: 16%;
  background-color: white;
  position: fixed;
  margin-top: 150px;
  margin-bottom: 100px;
  padding: 60px;
  border-radius: 20px;
  font-size: 20px;
  z-index: 1;
}


#buttons {
  display: block;
}

.button {
  border-radius: 15px;
  text-align: center;
  background-color:#333333;
  margin-top: 15px;
  color: white;
  cursor: pointer;
  display: inline;
  padding: 20px;
  border: none;
  margin-left: 10px;
}

.button:hover {
  background-color: #00C5CD;
}

#buttonbutton {
  outline: 0;
}

.textbox {
  height: 30px;
  font-size: 16px;
  margin: 10px;
}


.Box {
    border: 1px solid black;
    margin: auto;
    height: auto;
    width: 43px;
    float: left;
    height: 210px;
    width: 210px;
    text-align: center;
}

.restofpage {
  position: absolute;
  /*z-index: 0;*/
  margin: auto;
  width: 76%;
  margin-left: 12%;
  margin-top: 120px;
  margin-bottom: 50px;
  color: black;
  text-align: center;
  z-index: -1;
  /*border: 2px solid black;*/
}

.listedCategories {
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
}

li, tile {
  border: 1px solid black;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  background-color: white;
  z-index: -1;
}

.tile {
  display: inline-block;
  padding: 35px;
  max-width: 500px;

}

#tilecontainer {
  display: inline-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: center;
}


@media only screen and (max-width: 1000px) {
    .restofpage {
        margin-top: 220px;
    }
}

@media only screen and (max-width: 700px) {

      .tile {
        width: 90%;
        margin: auto;
        margin-bottom: 10px;
        right: 20px;
      }
      .personurl {
        width: 90%;
        margin: auto;
      }
}

<<<<<<< HEAD
=======
/*#idname {
  margin-top: 150px;
  position: fixed;
  color: black;
  z-index: 2;
  border: 5px solid purple;
  margin-left: 45vh;
}*/

>>>>>>> dacf7fb75ad582fcf689791748b19fd70e2f3ed0

.personName {
  font-size: 1.5em;
}

.personParagraph {
  font-size: 1em;
  margin-top: 10px;
}

.personurl {
  margin-top: 10px;
  max-width: 500px;
}

.deletebutton {
  margin-top: 10px;
}

#aboutus {
  display: inline-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  background-color: #333333;
  width: 100%;
  bottom: 0;
  margin-top: 100px;
}

.makers {
  display: inline-block;
  padding: 35px;
  border: 1px solid black;
  margin: 20px;
  background-color: white;
  border-radius: 20px;
}

#howtoplay {
}
