ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
  width: 65px;
  height: 100%;
  padding: 19px;
  text-align: center;
  cursor: pointer;
  position: relative;
  color: white;
  display: block;
  float: right;
  margin: 15px 45px;
  border-radius: 20px;
  background-color: #00A0A6;
  transition: background 0.1s ease;
  font-size: 16px;
}

#tutorial {
  padding: 27px;
  float: left;
}

li:hover {
  background-color: #00C5CD;
}

a {
  text-decoration: none;
  color: white;
}

body {
  margin: auto;
  text-decoration: none;
  width: 100%;
  background-image: url("../resources/background_texture.jpg");
}

#categoryForm {
  display: none;
  text-align: center;
  width: 60%;
  margin: auto;
  background-color: white;
  position: static;
  margin-top: 100px;
  padding: 60px;
  border-radius: 20px;
  font-size: 20px;

}

#buttons {
  display: block;
  margin-top: 50px;
}

.button {
  border-radius: 15px;
  width: 100px;
  height: 50px;
  text-align: center;
  background-color: #454857;
  margin: 15px;
  color: white;
  cursor: pointer;
  display: inline;
  padding: 20px;
}

.exit:hover {
  background-color: #00A0A6;
}

.topbar {
  width: 100%;
  height: 70px;
  background-color: #333333;
  position: relative;
}

#gohome {
  font-size: 50px;
  color: white;
  padding: 10px;
  margin-left: 50px;
  cursor: pointer;
  width: 120px;
}

#cattext {
  height: 30px;
  font-size: 16px;
}
