<!DOCTYPE html>
<html>

<head>
  <title>Faces home</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
  <script src="../javascript/script.js"></script>
</head>

<body>
  <div class="topbar">
    <div id="gohome">Faces</div>
  </div>
    <ul>
      <li id="addCategory"><a>Add Category</a></li>
      <li id="tutorial"><a href="../templates/html">Tutorial</a></li>
    </ul>
    <div id="categoryForm">
        <form action="/category" method='GET'>
          <div>
            Name your category<br/><br/><input type="text" name="categoryName" id="cattext">
            <div id="buttons">
              <div class="button" id="exit">x</div>
              <div class="button">Create</div>
            </div>
          </div>
        </form>
    </div>
</body>

</html>
