<!DOCTYPE html>
<html>

<head>
  <title>Faces home</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
  <script src="../javascript/script.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="topbar">
    <a href="/home"><div id="gohome" class="navitem">Faces</div></a>
    <a><div id="logout" class="navitem">Log Out</div></a>
    <a href="/about"><div id="tutorial" class="navitem">About</div></a>
  </div>

  <h1>About Us</h1>
   <h2>
   Vikki Pang
   </h2>
     <p>
       Vikki is from West Covina, Califoria and will be going to UC Irvine with awesome
       John. Nisha is also from really close to Irvine so we three are DESTINED :)
     </p>
   <h2>
   John Jackson, III
   </h2>
   <img src="john.jpg" height="200px" width="200px">
     <p>
       John is from New Orleans Louisiana, one of the few places in the United States
       where people can eat food. Knowing this he willingly left his hometown for
       California where he attends UC Irvine. With out-of-state tuition being a thing,
       the struggle continues to be real for the young homie as he pursues a career
       in Computer Science.
     </p>
   <h2>
   Nisha Yerunkar
   </h2>
     <p>
       Nisha is the best person in the entire world. Ever. From Orange County, California,
       she will be attending the University of Califonia, San Diego in the fall. She wishes that
       the simplicity of this website will be appealing or something.
     </p>


</body>
</html>
