<!DOCTYPE html>
<html>

<head>
  <title>Faces home</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
  <script src="../javascript/script.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="topbar">
    <a href="/home"><div id="gohome" class="navitem">Faces</div></a>
    <a><div id="logout" class="navitem">Log Out</div></a>
    <a href="/about"><div id="tutorial" class="navitem">About</div></a>
  </div>


</body>
</html>
